@import url(base.css);
h1{
    margin: 2rem;
    font-weight: 900;
}
.mainPText p{
    font-weight: 600;
    margin: 2rem;
}
em{

}
.hidden{
    display: none !important;
}
.selected{
    background-color: #AACDDC !important;
    color: rgb(255, 255, 255) !important;
    border: 5px solid #b9ebff;
    transform: scale(1.05);
}
/*Main Page styling*/
.viewMain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 1fr;
    grid-template-areas:
    "section"
    "searchBox";
}
.introContainer{
    align-items: center;
    justify-content:end;
    grid-area: section;
    flex-direction: column;
    padding: 2rem ;
    background-color: rgba(209, 5, 5, 0);
}
.inputContain{
    grid-area: searchBox;
    background-color: rgba(175, 8, 58, 0);
    display: flex;
    align-items:center;
    justify-content: start;
    flex-direction: column;
    margin-bottom: auto;
}

.inputContain form{
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: row;
    font-size: 3rem;
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 4rem;
}
.inputContain form input{
  border-radius: 1rem;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  border: 2px solid #d2c4b462;
  background-color: rgba(255, 255, 255, 0.646);
  text-align: center;
  box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.655);
}
.inputContain form button{
    font-size: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.mainPText{
    font-size: 4rem;
    color: white;
}
#mainPage{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1519451241324-20b4ea2c4220?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: bottom;
    flex-direction: column;
}

/*Choice Page styling*/
.viewCh{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
    "title"
    "content"
    ;
}
.choiceHeader{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    font-size: 2rem;
    background-color: #81A6C6;
}
.content{
    grid-area: content;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #abe2ff;
    flex-wrap: wrap;
    overflow-y: auto;
}
.content button{
    font-size: 4rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    margin: 4rem;
    background-color: #aacddcd9;
}
#contentContain2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "city beach adventure wellness"
    ;
    background-color: rgb(0, 0, 0);
}
.catSect{
    font-size: 3rem;
}
#citSect{
    grid-area: city;
    background-image: url('https://images.unsplash.com/photo-1541336032412-2048a678540d?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}
#beachSect{
    grid-area: beach;
    background-image: url('https://images.unsplash.com/photo-1534570122623-99e8378a9aa7?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}
#wellSect{
    grid-area: wellness;
    background-image: url('https://images.unsplash.com/photo-1538998073820-4dfa76300194?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}
#advSect{
    grid-area: adventure;
    background-image: url('https://images.unsplash.com/photo-1506773090264-ac0b07293a64?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
}
.catSect:hover{
  transform: translateY(-10px) translateX(-10px);
  box-shadow: 2rem 1rem 4rem #D2C4B4;
  transition: transform 0.4s ease, box-shadow 0.2s ease;
}
#contentContain1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "Spr Sum"
    "Aut Win"
    ;
}
.ChContain{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
.ChContain h2{
    margin-top: auto;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8)
}
.ChBtn{
    margin-top: auto;
}
#springBtns{
    background-image: url('https://plus.unsplash.com/premium_photo-1711217237364-827b31b57e92?q=80&w=1768&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    grid-area: Spr;
}
#summerBtns{
    grid-area: Sum;
    background-image: url('https://plus.unsplash.com/premium_photo-1677494867836-3f56b1261bc5?q=80&w=1708&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#fallBtns{
    grid-area: Aut;
    background-image: url('https://images.unsplash.com/photo-1507371341162-763b5e419408?q=80&w=1339&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#winterBtns{
    grid-area: Win;
    background-image: url('https://plus.unsplash.com/premium_photo-1669990950563-8b31d8ed237b?q=80&w=1550&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

/*Final Page styling*/
.viewF{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
    "next"
    "content"
    ;
}
#contentContainF{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    grid-template-areas:
    "left right"
    ;
}
.leftAlign{
    grid-area: left;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    grid-template-areas:
    "cal"
    "weather"
    ;
}
.rightAlign{
    grid-area: right;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    grid-template-areas:
    "plan"
    "pack"
    ;
}
#calTitleNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.ContainerCal{
    grid-area: cal;
    background-color: rgb(247, 247, 247);
    border-radius: 5%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.calendarContain {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 0px;
    width: 100%;
}
.calDay-card {
    background-color: rgba(230, 230, 230, 0);
    border-radius: 0px;
    min-width: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
} 
#calendarGrid .calDateBtn {
    color: #2b2d42;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: rgb(159, 159, 159);
    box-shadow: 1rem 10px 20px rgba(0,0,0,0.1);
    margin: 0;
}
#calTitleNav .calNavBtn {
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: rgb(159, 159, 159);
}
.dayPlanner{
    grid-area: plan;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: #2b2d42;
    margin-right: 1rem;
}
.dayPlanner button{
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    background-color: rgb(159, 159, 159);
    margin: 0;
}
.dayPlanner form{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.dayPlanner ul{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}
.dayPlanner ul li{
    border: 2px solid #2b2d42;
    border-radius: 1rem;
    padding:1rem 5rem;
    padding-left: 0.5rem;
    width: 100%
}
#planListTopContain{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    max-height: 20rem;
}
.selectedPl{
    background-color: rgb(255, 164, 29);
    color: white !important;
    border: 2px solid #edf2f4;
    transform: scale(1.05);
}
.packingList{
    grid-area: pack;
    background-color: rgb(15, 40, 32);
}
.weatherDash{
    grid-area: weather;
    background-color: rgb(187, 65, 65);
}

/*Nav Button Styling*/
.navButton{
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  margin-right: 3rem;
}

/*Mobile View Styling*/
@media (max-width: 30rem) {

}