@import url(base.css);
main{
    display: grid;
    grid-template-columns: 22rem auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "cat title"
        "cat contents";
}
.contentContainer{
    grid-area: contents;
    overflow-y: auto;
    background-color: rgba(0, 0, 255, 0.495);
}
.title{
    grid-area: title;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 31, 31, 0.3);
    font-size: 2rem;
    margin: 2rem;
}
.define{
    grid-area: cat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40rem auto;
    grid-template-areas:
        "buttons"
        "search";
    background-color: rgba(233, 146, 146, 0.3);
}
.catMonths{
    grid-area: buttons;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(218, 102, 7, 0.3);
}
.catMonths button{
    min-width: 20rem;
    font-size: 2rem;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
}
.vacationTime{
    grid-area: search;
    margin: 0 0rem;
    background-color: rgba(175, 8, 58, 0.505);
}
.vacationTime form input{
    font-size: 1.5rem;
    border-radius: 1rem;
}
.vacationTime form button{
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}